# Gradle files
.gradle/
build/
!gradle-wrapper.jar
!gradle-wrapper.properties

# Kotlin specific
*.class
*.jar
*.war
*.ear
*.db

# IntelliJ IDEA
.idea/
*.iml

# Android specific
local.properties

# Miscellaneous
.DS_Store
*.log
*.tmp
